/* latin */
@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url(https://fonts.gstatic.com/s/creteround/v6/55xoey1sJNPjPiv1ZZZrxK170b0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {font-family: "Crete Round", serif;
  font-size: 16px;
  color: rgb(50, 50, 50);
  max-width: 1200px;
  margin: 0 auto;}

h2 {font-size: 2em;
  font-weight: bold;}

h3 {font-size: 1.5em;}

header {
  position: fixed;
  z-index: 2;
  background: white;
  width: 100%;
  max-width: 1200px;
}

.headercontent {height: 64px;
  margin: 0 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;}

.Mobileheader {display: none;}

.headercontent .lastspan {
color: rgb(170, 170, 170);}

.logoname {display: flex;
  align-items: center;}

.logoname span {line-height: 32px;
}

.headercontent li {display: inline-block;
margin-left: 16px;
  }

@media only screen and (max-width: 700px) {
  .headercontent {display: none;}
  .Mobileheader {display: flex;}
  .Mobileheader ul {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;}

}


.Banner { position: relative;
  top: 64px;
  display: flex;
  align-items: center;
  background-color: rgb(220, 220, 220);
}


.Banner .Container { width: 55%;
  height: auto;
  margin: 32px 24px;
}

img {max-width: 100%;
  height: auto;

 }

.Bannertext {max-width: 35%;
  margin-left: 16px;
}

.Bannertext h2, .Bannertext p {margin-bottom: 1em;}

.Bannertext .btn {width: 100%;
  background-color: rgb(170, 170, 170);
  color: rgb(220, 220, 220);
  text-align: center;
  padding: 8px 0;}

.Bannertext .btn:hover {background-color: rgb(120, 120, 120)}

  @media only screen and (max-width: 700px) {
    .Banner {flex-direction: column;}
    .Banner .Container {width: 100%;
    margin: 0;}
    .Bannertext {max-width: 100%;
    padding: 0 16px;}
    .Bannertext h2 {margin: 32px 0;}
    .Bannertext .btn {margin: 24px 0;}
  }



.Guide {background-color: white;
  display: flex;
  position: relative;
  top: 64px;}

.Info {width: 55%;
  height: auto;
margin: 32px 24px;}


.Info .Container {width: 100%;
  height: auto;
  margin-bottom: 32px;
  }

.Info h2, .Info p {margin-bottom: 24px;
  }

.Column {width: 40%;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  margin: 16px 0;}

.Info2 {display: flex;
  align-items: center;}

.Info2 .Container {width: 35%;
  height: auto;
  margin: 16px;}
.mobileimg {display: none;}

.Info2 .Text {width: 65%;}

.Info:hover {background-color: rgb(170, 170, 170);
color: white;}
.Info2:hover {background-color: rgb(170, 170, 170);
color: white;}

.Info2 h3, .Info2 p {margin-bottom: 8px;}

.Text a {color: rgb(42, 70, 255);}

.Text a:visited {color: rgb(100, 121, 255);}

@media only screen and (max-width: 700px) {
  .Guide .Info {display: none;}
  .Guide .Column {width: 100%;}
  .Info2 {flex-direction: column;
  margin: 0 16px 32px 16px;}
  .Info2 .Container {width: 100%;}
  .pcimg {display: none;}
  .mobileimg {display: flex;}
  .Info2 .Text {width: 100%;
  margin-left: 32px;}
}

.Content {background-color: rgb(220, 220, 220);
  position: relative;
  top: 64px;}

.Content h2 {
  padding-top: 32px;
  padding-bottom: 16px;
  text-align: center;}

.Courses {display: flex;
  justify-content: space-between;
  margin: 0 56px;}

.courselist {display: none;}

.Class {width: 30%;
  margin: 16px;
  background-color: white;
}

.Class:hover {background-color: rgb(170, 170, 170);
color: white;}

.lastrow {padding-bottom: 16px;}

.Class h3, .Class p {margin-bottom: 8px;
  margin-left: 16px;}
.Class img {margin-bottom: 16px;}

@media only screen and (max-width: 700px) {
  .Content {background-color: white;
  border-top: 1px solid rgb(170, 170, 170);
  margin-bottom: 24px;
}
  .Courses {display: none;}
  .courselist {display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;}
  .courselist .class {background-color: rgb(220, 220, 220);
  width: 90%;
  padding: 16px;
  margin-bottom: 8px;
  }
  .courselist .class:hover {background-color: rgb(170, 170, 170);
  color: white;}
}

.Thesis {background-color: white;
  position: relative;
  top: 64px;}

.Thesis h2 {padding: 32px 0;
  text-align: center;}

.Thesiscontent {display: flex;}

.video {width: 55%;
margin: 0 24px;}

.video .Container {
  margin-bottom: 24px;
  }
.video h3 {margin-bottom: 8px;}

.video p {margin-bottom: 32px;}

video {width: 100%;
  height: auto;}

.Thesiscontent .Column {margin: 0;}

@media only screen and (max-width: 700px) {
  .Thesis {border-top: 1px solid rgb(170, 170, 170);}
  .Thesiscontent .Column {display: none;}
  .video  {width: 100%;
  margin: 0;}
  .video h3, .video p {display: none;}
}


footer {position: relative;
  top: 64px;
  padding-top: 16px;
  padding-left: 24px;
  display: flex;
  height: 64px;
  border-top: 1px solid rgb(220, 220, 220);
}

footer span {padding: 0 8px;}


.copyright {flex: 1;}

@media only screen and (max-width: 700px) {
  footer  {border: 0;
  height: auto;
  padding: 16px 24px;}
  footer .nodis {display: none;}
}
